body{
  font-family: Helvetica, sans-serif;
  background: #fff;  
  font-size: 13px;
  color: #000;
  padding: 0px;
  margin: 0px;

}

h1,h2,h3{
  font-family: HelveticaLT, Helvetica, sans-serif;
  font-weight: bold;
}

#grid-editor{
  background: #f9f9f9;
  height: 100vh;
  overflow: auto;
  position: relative;
  padding-bottom: 30px;
}

#grid-preview{
  overflow: hidden;
  background: #fff;
}
footer{
  margin-top: 30px;
  bottom: 10px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 5px 0px;
}
.footer{
  padding: 5px;
}
.grid-container{
  max-width: 10000px;
  padding: 0px;
  margin: 0px;
}

.rm-nav-wrapper{
  margin:0px 0px;
}
.rm-nav-icon-wrapper{
  display: inline-block;
  font-weight: bold;
  line-height: 12px !important;
  background: transparent;
  color: #555;
  padding-right: 10px;
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
}
.rm-nav-icon-wrapper span{
  font-size: 11px;
}
.rm-nav-icon-wrapper.active{
  color: #f1c40f;
}
.rm-nav-icon{
  position: relative;
  padding: 2px 0px;
}

.tiny-num{
  display: inline-block;
  background: #ffcc1d;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  color: #f9f9f9;
  text-align: center;
  line-height: 15px;
}

.form-header{
  color: #333; 
  vertical-align: bottom;
  margin-bottom: 20px;
  border-bottom: 1px dotted #333;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 24px;
  display: table;
  font-family: HelveticaLT, Helvetica;
}

.subheader{
  text-align: left;
  margin-top: 20px;
  margin-bottom:20px;
}

.subheader div,.subheader >*{
  color: #111;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 0px;
  text-align: center;
}


.form-title,.form-container{
  /*background: #f9f9f9;*/
  padding:0px 30px !important;
  padding-bottom: 20px !important;
}

.form-container>.grid-100{
  padding-left:0px !important;
  padding-right:0px !important;
}

.form-buttons{
  padding: 10px 0px;
}

.form-buttons a{
  cursor: pointer;
  
}
.form-buttons a.rm-next,
.form-buttons button.rm-next{
  text-align: right;
  float: right;
}

.form-buttons a.rm-prev,
.form-buttons button.rm-prev{
  text-align: left;
}
.form-buttons button{
  transition:1s;
  cursor: pointer;
}

.form-buttons button:disabled{
  opacity: 0.4;
  cursor: default;
}

.form-group{
  margin-bottom: 15px;
}

a, button, a:focus, button:focus{
  outline: 0px !important;
}


label{
  color: #565134;
  font-weight: bold;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  position: relative;
  line-height: 14px;
}
input.topresent{
  display: none;
  position: relative;
}
input.topresent_text{
  background: #fafafa;
  color: #D9AF0B;
  border-color:#eee;
}
input.topresent ~ label{
  position: absolute;
  display: inline-block;
  cursor: pointer;
  padding: 1px;
  margin-left: 4px;
  font-size: 11px;
  margin-bottom: 0px;
  background: #aaa;
  color: #fff;
  border-radius: 3px;
  border: 0px;
  width: auto;
  font-weight: normal;
  
}
input.topresent:checked ~ label{
  color: #111;
  background: #ffcc1d;
  font-weight: normal;
}
label.required::after{
  content:"*";
  color: #e3422e;
}

input,select,textarea{
  border-radius: 0px !important;
  border: 1px solid #ccc;
  outline: 0px !important;
  background: #fff;
  padding: 8px;
  margin-bottom: 7px;
  font-size: 13px;
  transition:0.5s;
}


select{
  padding: 7px 5px;
}
input:focus,select:focus,textarea:focus{
}


input {
  padding: 8px 5px;
}

textarea{
  font-family: Helvetica, sans-serif;
  resize: none;
  padding: 6px 5px;
}

.max-width{
  width: 100%;
}

.work-experience-group,.affiliation-group,.data-group{
  margin-bottom: 20px;
  padding: 20px 25px;
  background: #fff;
  border-top: 10px solid #ffcc1d;
  box-shadow: 4px 4px 1px #ddd;
  position: relative;
}
.work-actions-inactive{
  position: absolute;
  top:0px;
  right: 0px;
  height: 100%;
}
.work-edit-button{
  display: inline-block;
  background: #27AE60;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
}
.work-delete-button{
  display: inline-block;
  background: #D9534F;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
}
.work-description-text{
  list-style-type: disc;
  margin-left: 16px;
  display:list-item;
}

.committee-group{
  padding: 10px 0px !important;
  background: transparent;
  position: relative;
  border-top: 1px dotted #aaa;
}

.affiliation-group .committee-group:last-child{
  border-bottom: 1px solid #eee;
}


.danger{
  background-color: #ffe2e2 !important;
}

p.error{
  color: #fff;
  font-size: 12px;
  margin:0px;
  margin-bottom: 5px;
  background: #e74c3c;
  padding: 4px;
  position: relative;
}

p.error::before{
  position: absolute;
  content: "";
  border-bottom: 7px solid #e74c3c;
  border-top: 7px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top:-12px;
  left: 7px;
}

.small-label{
  font-size: 12px;
  font-weight: bold;
  color: #777;
  display: block;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 3px;
    margin-left: 3px;
}

/*.important{
  padding: 5px;
  background: #FCF8E3;
  color: #8a6d3b;
  border: 1px solid #faebcc;
}*/

.committee-delete-button{

  margin: 5px 0px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  background: #D9534F;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
  border: 0px;
  float: right;t
}

.rm-next{
  display:inline-block;
  height: 65px;
  width: 65px;
  background-color: transparent;
  border: 0px;
  background-image: url('../images/next.png');
  background-size: cover;
}
.rm-prev{
  display:inline-block;
  height: 65px;
  width: 65px;
  background-color: transparent;
  border: 0px;
  background-image: url('../images/prev.png');
  background-size: cover;
}

.a4-wrapper{
  position: relative;
  margin-bottom: 20px;
  background: #fff;
  height: 100vh;
}
.a4-buttons-wrapper{
  position: relative;
}
.a4-buttons{
  width: 827px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.a4{
  width: auto;
  min-width: 559px;
  height: 100%;
  margin: 0 auto;
  padding:35px 45px !important;
  font-family: Arial, sans-serif;
  color: #000;
  font-size: 12.5px;
  background: #fff;
  z-index: 10;
  overflow-y: hidden;
}

.a4 .fullname{
  font-size: 26px;
  font-weight: bold;
}
.lastname{
  color: #D9AF0B;
}

.resume-row{
  padding-bottom: 10px !important;
}

.personal-info-preview{
  padding-bottom: 5px;
}

h5.resume-preview {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2px;
  margin: 0px;
  border-bottom: 1px dotted #111;
  text-transform: uppercase;
  margin-top: 10px;
}

.divider{
  width: 100%;
  height: 1px;
  background: transparent; 
  border-bottom: 1px dotted #222;
  margin:3px 0px;
}

#resume-preview .label-col{
  width: 120px !important;
  text-align: left;
  font-size: 14px;
  color: #D9AF0B;
  font-weight: bold;
}

.schoolname{
  color: #000;
  font-weight: bold;
}

.award-text{
  font-style: italic;
  display: block;
}

.recognition{
  position:relative;
}
.recognition input{
  padding-right: 25px;
}

.recognition .success-check{
  top:6px;
}
.delete-beside-input{
  position: absolute;
  right: -15px;
  top:8px;
  cursor: pointer;
}
table{
  
}
table.resume-table{
  margin-top: 2px;
  width:100%;
  border-spacing: 0px;
 
}
table.committee-table tr td{
  padding-bottom: 5px !important;
}
td b,td span,td div,td i{
  line-height: 16px;
}

table h3{
  margin: 0px;
}
table.resume-table tr{
  vertical-align: top;

}
table td{
  padding-left: 0px;
  padding-bottom: 0px;
}

table td.right-column{
  padding-left: 20px;
  width: 180px;
  text-align: right;
  color: #444;
}



.div-white{
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
  z-index:1000;
}
#submit-success{
  display: none;
}


.alert-mask{
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.9);
  top:0;
  left: 0;
  z-index: 100;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition:0.3s;
  overflow: hidden;
}

.alert-info{
  position: absolute;
  display: none;
  top:-120%;
  color: #00729b;
  opacity: 0;
  text-align: left;
  font-size: 14px;
  visibility: hidden;


}
.alert-info.alert-error{
  color: #e74c3c;
}

.alert-notify{
  opacity: 1 !important;
  visibility: visible !important;
  display: block;
}
.info-icon{
  position: absolute;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  z-index: 120;
  right: 15px;
}
.work-actions{
  position: relative;
  z-index: 200;
}
.terms,.application-type{
  border-top:2px solid transparent !important;
  border-bottom:2px solid transparent !important;
  transition:0.5s;
  padding: 5px 0px;
}
.terms-danger{
  border-top:2px solid #e74c3c !important;
  border-bottom:2px solid #e74c3c !important;
}
.subname{
  font-weight: bold;
  color: #a37720;
}
.btn{
  border: 0px;
}

.process-icon{
  position: absolute;
  right: 10px;
  border-radius: 2px;
  background-color: #27ae60;
  color: #fff;
  font-size: 11px;
  padding: 3px;
  top: 7px;
}
.process-info-text{
  background-color: transparent;
  color: #00729b;
  right: 5px;
}
.recognition .saving-icon{
  background-color: #27ae60;
}

.recognition .deleting-icon{
  background-color: #e74c3c;
}
.placeholder-color{
  color: #888;
}

@media all and (max-width: 767px){
  body{
    overflow-y: auto !important;
  }
  #grid-editor{
    height: auto;
  }
  #grid-preview{
    height: auto !important;
  }
}
.grid-100,.grid-50{
  position: relative;
}
.grid-50 .success-check{

  right: 5px !important;
}

.grid-100.grid-parent > .success-check{
  right: -2px !important;
}
.grid-100 > .success-check{
  right: 5px !important;
}
.btn{
  margin: 5px 0px;
}
